<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Abril+Fatface">
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/styleError.css">
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>

<div id="headers" class="headers">
        <a href="/"><h5 id="homeHeader">FOODOPIA</h5></a>
</div>

<h1>Ooops! It seems like you've gone too far while craving for food!</h1>
<h3>Simply click Foodopia on the left up corner to go back to our main page!</h3>
<h4>If you think you are following the procedure correctly but still visit this page,</h4>
<h4>please contact our technical support:</h4>
<h4>Xavier(Xinwei) Wang 858-766-8265</h4>
<h4>Chen(Chenghao) Chen 858-776-2080</h4>
</body>
</html>