doctype html
html(lang='en')
  head
    link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Abril+Fatface')
    meta(name='viewport', content='initial-scale=1')
    link(rel='stylesheet', type='text/css', href='stylesheets/styleMainPage.css')
    meta(charset='UTF-8')
    title foodopia
  body
    h1 FOODOPIA
    h3 Let ELFs take you to an adventure in Foodopia!
    .row
      .col-lg-6
        .input-group
          input.form-control(type='text', placeholder='Search for...')
        // /input-group
      // /.col-lg-6
    // /.row
    #login-button
      img(src='http://dqcgrsy5v35b9.cloudfront.net/cruiseplanner/assets/img/icons/login-w-icon.png')
    #container
      h2 Log In
      span.close-btn
        img(src='https://cdn4.iconfinder.com/data/icons/miu/22/circle_close_delete_-128.png')
      form.UserNameAndPassword
      form(class='form-signin', action='/login', method='POST')
        input(type='text', name='username' class='form-control', placeholder='Username',required, autofocus)
        input(type='password', name='password' class='form-control', placeholder='Password', required)

        button#a(type='submit') Log in
      #create-container
        a(class='button', href='/signup') First time to Foodopia!
      #remember-container
        input#checkbox-2-1.checkbox(type='checkbox', checked='checked')
        span#remember Remember me
        span#forgotten Forgotten password
    // Forgotten Password Container
    #forgotten-container
      h3 Forgotten
      span.close-btn
        img(src='https://cdn4.iconfinder.com/data/icons/miu/22/circle_close_delete_-128.png')
      form
        input(type='email', name='email', placeholder='E-mail')
        a.orange-btn(href='#') Get new password

    #message
      if message
        h1.text-center.error-message #{message}

    script(src='http://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/TweenMax.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js')
    script(src='js/mainPageAnimation.js', type='text/javascript')
    
    