<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Abril+Fatface">
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/styleHomePage.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <title>foodopia</title>
</head>
<body>
    <div id="header">
        <h1>FOODOPIA</h1>
    </div>
    <div id="userInfo">
        <div class="division" id="logout">
            <a href="/signout" class="text-center new-account">Logout</a>
        </div>
        <div class="division" id="welcome">
            <h2>Welcome <%= user.username %>!</h2>
        </div>
    </div>

    <div class="division" id="greeting"><h3>What can ELFs do for you today?</h3></div>
    <div class="row">
        <div class="col-lg-i6">
            <div class="input-group">
                <input type="text" placeholder="Search for..." class="form-control">
            </div>
        </div>
    </div>
    <br>
    <div id="function-container">
        <div class="box" id="storage">
            <a href="/storage"><i class="fa fa-shopping-cart fa-5x" aria-hidden="true"></i></a>
            <h2>Manage My Foods</h2>
        </div>
        <div class="box" id="lazy">
            <a href="/storage"> <i class="fa fa-cutlery fa-5x" aria-hidden="true"></i></a>
            <h2>What Can I Cook</h2>
        </div>
        <div class="box" id="create">
            <a href="/create"> <i class="fa fa-book fa-5x" aria-hidden="true"></i></a>
            <h2>Create Recipe</h2>
        </div>
        <div class="box" id="profile">
            <a href="/storage"> <i class="fa fa-cogs fa-5x" aria-hidden="true"></i></a>
            <h2>My Profile</h2>
        </div>
    </div>




</body>

<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/TweenMax.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>


</html>