<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Abril+Fatface">
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/styleProfilePage.css">
    <meta charset="UTF-8">
</head>

<body>

<div>
    <div class="box" id="home">
        <a href="/home"><i class="fa fa-home fa-2x" aria-hidden="true" id="home-button"></i></a>
    </div>

    <div class="box"  id="back">
        <i class="fa fa-arrow-left fa-2x" aria-hidden="true" id="back-button"></i>
    </div>
</div>



<div id="header">
    <h1>Profile</h1>
</div>



<div id="function-container">
    <div class="box" id="UserInfo">
        <i class="fa fa-archive fa-5x" aria-hidden="true"></i>
        <h2>UserInfo</h2>
    </div>
    <div class="box" id="Appetite">
        <i class="fa fa-cutlery fa-5x" aria-hidden="true"></i>
        <h2>Appetite</h2>
    </div>
    <div class="box" id="Allergy">
        <i class="fa fa-book fa-5x" aria-hidden="true"></i>
        <h2>Allergy</h2>
    </div>
    <div class="box" id="alwaysInMyFridge">
        <i class="fa fa-book fa-5x" aria-hidden="true"></i>
        <h2>AlwaysInMyFidge</h2>
    </div>
</div>



<div id="basic"> 
    <h2 id="orange">User Name: <br><br><br><br><br>
    My Favorite Recipe: <br><br><br><br><br>
    My Own Recipe: </h2>
</div>



<div id="taste">
    <h2 id="bitter" for="bitter">Bitter</h2>
    <span id="range">0</span>
    <input type="range" min="0" max="50" step="5" />
    <span id="range">6</span>

    <br>

    <h2 id="salty" for="salty">Salty</h2>
    <span id="range">0</span>
    <input type="range" min="0" max="50" step="5" />
    <span id="range">6</span>
    <br>


    <h2 id="sweet" for="sweet">Sweet</h2>
    <span id="range">0</span>
    <input type="range" min="0" max="50" step="5" />
    <span id="range">6</span>
    <br>

    <h2 id="sour" for="sour">Sour</h2>
    <span id="range">0</span>
    <input type="range" min="0" max="50" step="5" />
    <span id="range">6</span>
    <br>


    <h2 id="piqant" for="piquant">Piquant</h2>
    <span id="range">0</span>
    <input type="range" min="0" max="50" step="5" />
    <span id="range">6</span>
    <br>

    <h2 id="meaty" for="meaty">Meaty</h2>
    <span id="range">0</span>
    <input type="range" min="0" max="50" step="5" />
    <span id="range">6</span>
    <br>

    <button type="button">Save</button>

</div>



    <div id="senstive">
        <input id="dairy" type="checkbox">
        <h3 for="dairy">Dairy</h3>
        <br><br><br>

        <input id="egg" type="checkbox">
        <h3 for="egg">Egg</h3>
        <br><br><br>

        <input id="gluten" type="checkbox">
        <h3 for="gluten">Gluten</h3>
        <br><br><br>

        <input id="peanut" type="checkbox">
        <h3 for="peanut">Peanut</h3>
        <br><br><br>

        <input id="seafood" type="checkbox">
        <h3 for="seafood">Seafood</h3>
        <br><br><br>

        <input id="sesame" type="checkbox">
        <h3 for="sesame">Sesame</h3>
        <br><br><br>

        <input id="soy" type="checkbox">
        <h3 for="soy">Soy</h3>
        <br><br><br>

        <input id="sulfite" type="checkbox">
        <h3 for="sulfite">Sulfite</h3>
        <br><br><br>

        <input id="treenut" type="checkbox">
        <h3 for="treenut">Tree Nut</h3>
        <br><br><br>

        <input id="wheat" type="checkbox">
        <h3 for="wheat">wheat</h3>
        <br><br><br>

        <button type="button">Save</button>


    </div>

</body>

<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/TweenMax.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>


</html>

<script src="js/profilePageAnimation.js"></script>
