<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Abril+Fatface">
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/styleProfilePage.css">

    <meta charset="UTF-8">
</head>

<body ng-app="profile">

<div>
    <div class="box" id="home">
        <a href="/home"><i class="fa fa-home fa-2x" aria-hidden="true" id="home-button"></i></a>
    </div>

    <div class="box"  id="back">
        <a><i class="fa fa-arrow-left fa-2x" aria-hidden="true" id="back-button"></i></a>
    </div>
</div>

<div id="header">
    <h1>Profile</h1>
</div>



<div id="function-container">
    <div class="box" id="UserInfo">
        <a><i class="fa fa-map-signs fa-5x" aria-hidden="true"></i></a>
        <h2>User Info</h2>
    </div>
    <div class="box" id="Allergy">
        <a><i class="fa fa-ambulance fa-5x" aria-hidden="true"></i></a>
        <h2>Allergy</h2>
    </div>
    <div class="box" id="alwaysInMyFridge">
        <a><i class="fa  fa-cart-arrow-down fa-5x" aria-hidden="true"></i></a>
        <h2>Always In My Fridge</h2>
    </div>
    <div class="box" id="thx">
        <a><i class="fa fa-users fa-5x" aria-hidden="true"></i></a>
        <h2>Thanks To</h2>
    </div>
</div>



<div id="basic" ng-controller="basic">
    <h2 id="orange">User Information: </h2><br><br>
    <h1 id="name"><%= user.username %></h1><br><br>
    <h1 id="name"><%= user.email %></h1>
    <div class="container">
        <h2 id="orange">My Own Recipe: </h2>
        <div class="list">
            <table border="0" cellspacing="0">
                <tr class="table-header">
                    <td class="left">Name</td>
                    <td class="left" >Ingredients</td>
                    <td class="left" >Procedure</td>
                    <td class="center" >Additional Comments</td>
                    <td class="center">Delete</td>
                </tr>
                <tr ng-repeat="item in user.myCreation">
                    <td id="Item_name">{{item.name}}</td>
                    <td class="left"><div ng-repeat="food in item.ingredient"><h4>{{food.quantity}} {{food.name}}</h4></div></td>
                    <td class="center"><div ng-repeat="food in item.steps"><h4>{{food.step}}</h4></div></td>
                    <td class="center">{{item.comment}}</td>
                    <td class="center"><i class="fa fa-trash" ng-click="remove(item)"></i></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div id="sensitive" ng-controller="allergy">
    <h3>Foodopia knows that you are allergy to: </h3>
    <span ng-repeat="item in user.allergy | filter:{ checked: true }">
        {{item.name}} &nbsp
    </span>
    <br><br>
    <div id="option">
        <input type="checkbox" id="Dairy" ng-model="answersDairy[Dairy]" ng-change="stateChangedDairy(Dairy)">
        <h3 for="dairy">Dairy</h3>
    </div>
    <div id="option">
        <input type="checkbox" id="Egg" ng-model="answersEgg[Egg]" ng-change="stateChangedEgg(Egg)">
        <h3 for="egg">Egg</h3>
    </div>
    <div id="option">
        <input id="gluten" type="checkbox" ng-model="answersGluten[Gluten]" ng-change="stateChangedGluten(Gluten)">
        <h3 for="gluten">Gluten</h3>
    </div>

    <div id="option">
        <input id="peanut" type="checkbox" ng-model="answersPeanut[Peanut]" ng-change="stateChangedPeanut(Peanut)">
        <h3 for="peanut">Peanut</h3>
    </div>

    <div id="option">
        <input id="seafood" type="checkbox" ng-model="answersSeafood[Seafood]" ng-change="stateChangedSeafood(Seafood)">
        <h3 for="seafood">Seafood</h3>
    </div>
    <br><br><br><br>

    <div id="option">
        <input id="sesame" type="checkbox" ng-model="answersSesame[Sesame]" ng-change="stateChangedSesame(Sesame)">
        <h3 for="sesame">Sesame</h3>
    </div>

    <div id="option">
        <input id="soy" type="checkbox" ng-model="answersSoy[Soy]" ng-change="stateChangedSoy(Soy)">
        <h3 for="soy">Soy</h3>
    </div>

    <div id="option">
        <input id="sulfite" type="checkbox" ng-model="answersSulfite[Sulfite]" ng-change="stateChangedSulfite(Sulfite)">
        <h3 for="sulfite">Sulfite</h3>
    </div>

    <div id="option">
        <input id="treenut" type="checkbox" ng-model="answersTreeNut[TreeNut]" ng-change="stateChangedTreeNut(TreeNut)">
        <h3 for="treenut">Tree Nut</h3>
    </div>

    <div id="option">
        <input id="wheat" type="checkbox" ng-model="answersWheat[Wheat]" ng-change="stateChangedWheat(Wheat)">
        <h3 for="wheat">Wheat</h3>
    </div>
    <br><br><br>

    <button type="button" ng-click="GetPush()">Update</button>
</div>

<div class="alwaysContainer" ng-controller="habit">
    <div id="alwaysInFridge">

        <div id="errorMessage"><i class="icon-cross"></i>Please enter all inputs!</div>

        <div id="successMessage"><i class="icon-checkmark"></i>Item added to your list of always-in-my-fridge!</div>

        <div class= "half margin-right">
            <input type='text'   class="searchButton" placeholder='Item Name' ng-model="itemName" autofocus required>
        </div><div class="half"><input type='number'   class="searchButton" placeholder='Quantity' ng-model="itemQuantity" required></div>

        <button class="addItem" ng-click="addItem()">Add Item</button>

        <div class="list">
            <table border="0" cellspacing="0">
                <tr class="table-header">
                    <td class="left">Item Name</td>
                    <td class="center">Quantity</td>
                    <td class="center">Delete</td>
                </tr>
                <tr ng-repeat="item in user.always | orderBy: '-checked':true">
                    <td ng-class="{selected: item.checked==true}">{{item.name}}</td>
                    <td ng-class="{selected: item.checked==true}" class="center">{{item.quantity}}</td>
                    <td class="center"><i class="fa fa-trash" ng-click="remove(item)"></i></td>
                </tr>
            </table>
            <div ng-hide="user.always.length" class="center">You don't have things always in your list now!</div>
            <h1 ng-hide="user.always.length" class="center"> </h1>
            <h1> </h1>
            <button class="clear" ng-click="clearAll(list)">Clear Always-in-my-fridge List</button>
        </div>
    </div>
</div>




<div id="thanks">
    <h3>Foodopia and ELFs thanks following website for their technical support:</h3>
    <h2><a href="https://developer.yummly.com/">API pack by Yummly</a></h2>
    <h2><a href="http://passportjs.org/">Passport Strategy by Passport</a></h2>
    <h2><a href="https://icons8.com">Icon pack by Icons8</a></h2>
    <h2><a href="http://fontawesome.io/">Icon pack by Font Awesome</a></h2>
    <h2><a href="http://codepen.io/">Some Stylesheets by Codepen</a></h2>

</div>

</body>

<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/TweenMax.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<script src="js/profilePageAnimation.js"></script>

<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js'></script>
<script src="/angoose/angoose-client.js"></script>
<script src="js/profilePage.js"></script>

</html>
