doctype html

html(lang='en')
    head
        link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Abril+Fatface')
        meta(name='viewport', content='initial-scale=1')
        link(rel='stylesheet', type='text/css', href='stylesheets/styleSearchResults.css')
        //link(rel='stylesheet', type='text/css', href='stylesheets/temp.css')
        meta(charset='UTF-8')
        title Recipe Results
    body
        #headers.headers
                form.search-container
                    h1 FOODOPIA
                    input.search-bar(type='text', placeholder='Search for...')
                    //a(href='#')
                        img.search-icon(src='http://www.endlessicons.com/wp-content/uploads/2012/12/search-icon.png')

        filters#Filters.controls
            .row#firstrow
                .col.col-span-2
                    .icon.icon--cuisine
                    input.cuisine(type="text" placeholder="Cuisines" data-placeholder="What am I feeling like?"
                    data-placeholder-expanded="What am I feeling like?")
                .col.col-span-10
                    input#c1(type='checkbox', name='cb')
                    label(for='c1') Chinese
                    input#c2(type='checkbox', name='cb')
                    label(for='c2') Mexican
                    input#c3(type='checkbox', name='cb')
                    label(for='c3') Thai
                    input#c4(type='checkbox', name='cb')
                    label(for='c4') American
                    input#c5(type='checkbox', name='cb')
                    label(for='c5') Indian
                    input#c6(type='checkbox', name='cb')
                    label(for='c6') Others
            .row
                .col.col-span-2
                    .icon.icon--meal
                    input.meal(type="text" placeholder="Meal" data-placeholder="What am I feeling like?" data-placeholder-expanded="What am I feeling like?")
                .col.col-span-10
                    input#m1(type='checkbox', name='cb')
                    label(for='m1') Appetizers
                    input#m2(type='checkbox', name='cb')
                    label(for='m2') Breakfast & Brunch
                    input#m3(type='checkbox', name='cb')
                    label(for='m3') Entrees
                    input#m4(type='checkbox', name='cb')
                    label(for='m4') Dinners
                    input#m5(type='checkbox', name='cb')
                    label(for='m5') Lunch
                    input#m6(type='checkbox', name='cb')
                    label(for='m6') Snack
                    input#m7(type='checkbox', name='cb')
                    label(for='m7') Desserts
                    input#m8(type='checkbox', name='cb')
                    label(for='m8') Others
            .row
                .col.col-span-2
                    .icon.icon--calorie
                    input.calories(type="text" placeholder="Calories")
                .col.col-span-4.slider
                    .c-slider
                        input.c-range(type='range', value='500', min='0', max='2000', step = '10')
                        span.c-value 500
                .col.col-span-2
                    .icon.icon--time
                    input.time(type="text" placeholder="Time Cost")
                .col.col-span-4.slider
                    .t-slider
                        input.t-range(type='range', value='60', min='0', max='180', step='5')
                        span.t-value 180
            button.clear(ng-click='clearFilters') Clear Filters

               // .filters
                    .cuisines
                        .filter.filter--input.filter--cuisine
                            input.cuisine(type="text" placeholder="Cuisine" data-placeholder="What am I feeling like?"
                            data-placeholder-expanded="What am I feeling like?")
                            .icon.icon--cuisine
                            .icon.icon--clear
                        input#c1(type='checkbox', name='cb')
                        label(for='c1') Chinese
                        input#c2(type='checkbox', name='cb')
                        label(for='c2') Mexican
                        input#c3(type='checkbox', name='cb')
                        label(for='c3') Thai
                        input#c4(type='checkbox', name='cb')
                        label(for='c4') American
                        input#c5(type='checkbox', name='cb')
                        label(for='c5') Indian
                        input#c6(type='checkbox', name='cb')
                        label(for='c6') Others

                    .meal-type
                        .filter.filter--input.filter--meal
                            input.meal(type="text" placeholder="Meal" data-placeholder="What am I feeling like?"
                            data-placeholder-expanded="What am I feeling like?")
                            .icon.icon--meal
                            .icon.icon--clear
                        input#m1(type='checkbox', name='cb')
                        label(for='m1') Appetizers
                        input#m2(type='checkbox', name='cb')
                        label(for='m2') Breakfast & Brunch
                        input#m3(type='checkbox', name='cb')
                        label(for='m3') Entrees
                        input#m4(type='checkbox', name='cb')
                        label(for='m4') Dinners
                        input#m5(type='checkbox', name='cb')
                        label(for='m5') Lunch
                        input#m6(type='checkbox', name='cb')
                        label(for='m6') Snack
                        input#m7(type='checkbox', name='cb')
                        label(for='m7') Desserts
                        input#m8(type='checkbox', name='cb')
                        label(for='m8') Others
                    //h3 Meal Type
                    .sliders
                        .c-filter
                            .filter.filter--input.filter--calorie
                                .icon.icon--calorie
                                input.calories(type="text" placeholder="Calories")
                            .c-slider
                                input.c-range(type='range', value='500', min='0', max='2000', step = '10')
                                span.c-value 500
                        .t-filter
                            .filter.filter--input.filter--time
                                .icon.icon--time
                                input.calories(type="text" placeholder="Time Cost")
                            .t-slider
                                input.t-range(type='range', value='60', min='0', max='180', step='5')
                                span.t-value 180

