html{
    /*background: url("http://i.huffpost.com/gen/2745340/images/o-ORGANIC-facebook.jpg") no-repeat center center fixed;*/
    background: url("https://wallpaperscraft.com/image/wood_background_texture_36573_1920x1080.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: auto;
}

/* Placeholders */
::-webkit-input-placeholder {
    color: #ddd;  }
:-moz-placeholder { /* Firefox 18- */
    color: #ff5f3c;  }
::-moz-placeholder {  /* Firefox 19+ */
    color: #ff5f3c;  }
:-ms-input-placeholder {
    color: #333;  }
body{
    position: relative;
}
img{
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
    opacity: 0.7;
}

#login-button{
    cursor: pointer;
    position: relative;
    top: -19vw;
    left: 45vw;
    right: 0;
    bottom: 0;
    padding: 15px;
    margin: auto;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    background: rgba(30,30,30,.8);
    overflow: hidden;
    opacity: 1;
    box-shadow: 10px 10px 30px #000;
}

/* Heading */
#headers{
    overflow: visible;
}
h1{
    font-family: 'Abril Fatface';
    position: relative;
    margin: auto;
    text-align: left;
    font-size: 3vw;
    color: #ddd;
    width: 20%;
    height: 45px;
    text-shadow: 3px 3px 10px #000;
    float: left;
}
.search-container{
    width: 100%;
    display: inline-block;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: visible;
}

input.search-bar{
    margin: 0 auto;
    width: 75%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
    float: left;
}

.search-icon{
    position: relative;
    float: right;
    width: 75px;
    height: 75px;
    top: -62px;
    right: -45px;
}

/* Inputs */
#a,
input.search-bar{
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
    position: relative;
    width: 80%;
    display: block;
    margin: 9px auto;
    font-size: 1.5vw;
    color: #fff;
    padding: 1.25vw;
    border-radius: 1vw;
    border: none;
    background: rgba(3,3,3,.2);
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 0.2s ease-in-out;
}



input.search-bar:focus{
    outline: none;
    box-shadow: 3px 3px 10px #333;
    background: rgba(3,3,3,.5);
}

button{
    font-family: 'Helvetica Neue', arial, sans-serif;
    color: white;
    -webkit-font-smoothing: antialiased;
}

/**
 * Filters and Checkbox Styles
 */

#Filters{
    padding: 2%;
    padding-top: 1%;
    display: block;
    margin: auto;
    width: 90%;
    background: rgba(254, 252, 241, 0.8);
}

#container{
    display: inline-block;
    width: 100%;
    margin: auto;
    padding: 10px;

}


button{
    vertical-align: top;
    border: 0;
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    margin: auto;
    display: block;
    outline: none;
    border: none;
    padding: 1.1em;
    width: 100%;
    color: white;
    text-align: center;
}

button:focus{
    outline: 0 none;
}

button.clear {
    background: #3f5872;
    border-bottom: 4px solid #2b3c4e;
}

button.clear:hover {
    background: #384e65;
    border-bottom: 2px solid #2b3c4e;
}


li {
    display: inline-block;
    padding: .5em 1em;
    border: 1px solid #ddd;
}


* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


.cuisines, .meal-type {
    position: relative;
    margin-left: 10px;
    margin-top: 10px;

}

img.chef-icon {
    width: 24px;
    height: 24px;

}

img.chef-icon, h3, .center-on-page{
    display: inline;
}

h3{
    padding-right: 20px;
}

input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
label {
    position: relative;
    display: inline-block;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 90%;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-left: 30px;
    padding-right: 10px;
    line-height: 36px;
    cursor: pointer;
}
label::before {
    content: " ";
    position: absolute;
    top: 6px;
    left: 0;
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid rgba(63, 17, 162, 1);
    border-radius: 4px;
    z-index: -1;
}
/* Checked */
input[type="checkbox"]:checked + label{
    padding-left: 10px;
    color: #fff;
}
#c1{
    background: rgba(63, 17, 162, 1);
}
input[type="checkbox"]:checked + label::before{
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(63, 17, 162, 1);
}
/* Transition */
label,
label::before {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}

* {
    box-sizing: border-box;
}

.cuisines::-webkit-input-placeholder {
    color: #999;
}
.filter > .label {
    color: #999;
}
.filter.active > .label {
    color: #000;
}
.filter--input {
    border: 1px solid #ccc;
    position: relative;
}
.cuisines.icon--clear {
    position: absolute;
    top: 19px;
    right: 0;
    padding: 10px 14px;
    display: none;
    width: 14px;
    height: 14px;
    background: url('http://prototype-bp.laj.lv/icons/icon-clear@2x.png') no-repeat top left;
    background-size: 14px 14px;
    cursor: pointer;
}
input.cuisine[type=text] {
    outline: none;
    border: none;
    padding: 14px 10px 10px 50px;
}
input[type=checkbox] {
    margin-right: 10px;
}
.icon--cuisine {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 10px;
    display: block;
    width: 24px;
    height: 21px;
    background: url('https://cdn3.iconfinder.com/data/icons/streamline-icon-set-free-pack/48/Streamline-94-48.png') no-repeat top left;
    background-size: 24px 21px;
}
/* Mobile */
@media (max-width: 500px) {
    body {
        font-size: 16px;
    }
    .filter {
        padding: 3px;
        margin-bottom: 1em;
        border-radius: 3px;
    }
    input.cuisine[type=text] {
        width: 100%;
    }
}
/* Desktop */
@media (min-width: 502px) {
    .filters {
        border: 1px solid #ccc;

    }
    .filters:before,
    .filters:after {
        content: " ";
        display: block;
    }
    .filters:after {
        clear: both;
    }
    .filter {
        padding: 3px;
        float: left;
        border-top: none;
        border-bottom: none;
        border-left: none;
    }
    input.cuisine[type=text] {
        width: 220px;
        font-size: 80%;
    }
}



